/* FONTS */

.playwrite-be-vlg-mainsplash {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

.roboto-condensed-mainsplash {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/* NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 20vh;
    width: 80vw;
    min-height: 8vh;
    padding: 10px 10%;
    box-shadow: none;
    background-color: #c8d2e4;
    transition: all 0.3s ease;
    top: 0;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: #37435b;
    height: 8vh;
    box-shadow: 0px 4px 2px -2px gray;
}

nav a {
    text-decoration: none;
    color: #37435b;
}

.darklink {
    color: white;
}
nav #logo {
    flex: 2;
}

nav #links a {
    flex: 2;
    flex-direction: row;
    margin: 10px;
}

/* BODY */

#body {
    height: 9000px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
}

.lightmode {
    background-color: #c8d2e4;
    transition: ease 0.3s;
}

.darkmode {
    background-color: #37435b;
    transition: ease 0.3s;
}
#top-splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
}

.splash-divider-one {
    width: 100vw;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px -25px 15px #fff;
}
.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.shadow::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* slideshow styling */

.slideshow-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    height: 50vh;
}

.slideshow {
    height: 50vh;
    width: 70vw;
}

.mySlides {
    display: flex !important;
    flex-direction: row; /* Set row layout */
    align-items: center; /* Align image and text vertically */
    height: 100%;
    width: 100%; /* Ensure it takes full width */
}

.slideImage {
    max-width: 30%;
    height: auto;
}

.slideBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    width: 40vw;
    max-width: 50%;
    margin-left: 20px;
}

.arrowContainerLeft,
.arrowContainerRight {
    position: relative;
    opacity: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100px;
    align-self: center;
    width: 50px;
    height: 50px;
    z-index: 999;
    cursor: pointer;
    background-color: red;
}

.arrowContainerLeft {
    left: -60px;
}

.arrowContainerRight {
    right: -60px;
}

show {
    display: flex;
}

.hide {
    display: none !important;
}

/* .show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease;
} */
/* pop up styling */

.pop-up-screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 192, 203, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1002;
}

.pop-up-box {
    background-color: white;
    width: 500px;
    height: 200px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1003;
}

.hidden-pop-up {
    display: none;
}
